.lineText {
  &::before {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
  &::after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
}
